*{
    box-sizing: border-box;
}
body{
    background-color:rgb(68, 87, 96);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content:flex-end;
    text-align: center;
    height: 48px;
    width: 100%;
    align-items: center;
    padding: 8px;
    position: relative;
}

.space{
    display: grid;
    grid-template-rows:1fr;
}

a{
    color: whitesmoke;
    text-decoration:none ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

a:hover{
     text-decoration: underline;   
}

.mail,
.img{
    margin-left: 15px;
}

.content{
    margin-right: 15px;
}

.mail,
.img,
.app,
.pic{
    display: inline;
}

.apps{
    height: 23px;
    width: 23px;
}

.app,
.pic{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.profile{
    border-radius: 50%;
    background-color: blue;
}

.app:hover {
    background-color: rgba(80, 100, 110,1);
    border-radius: 50%;
}

.pic:hover {
    background-color: rgba(80, 100, 110,1);
    border-radius: 50%;
}

.content-2{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 48px;
    width: 96px;
}

.logo{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 38px;
}

.google-logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#input{
    padding: 1px 87px 1px 52px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    height: 100%;
    width:100%;
    font-weight: 400;
    font-size: 16px;
    font-stretch: 100%;
    border-radius: 22px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
    border: none;
}

.inputWrapper{
    position: relative;
    height: 44px;
    width:561px;
    margin-bottom: 24px;
    z-index: 5;
}
.icon{
    position:absolute;
    z-index: 2;
    left: 18px;
    top:9px;
    height: 23px;
    width: 23px;
    box-sizing: border-box; 
    padding: 1px 2px;
    color:grey;
}

.voice-icon-button{
    position:absolute;
    z-index: 2;
    right:50px;
    top:11px;
    background-color:white;
    border: none;
}

.image-icon-button{
    position:absolute;
    z-index: 2;
    right:14px;
    top:11px;
    background-color:white;
    border: none;
}

.search-icon-button{
    height: 20px;
    width: 20px;
    object-fit: contain;
    object-position: center;
}

.container{
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    transition: opacity .3s ease-in-out;
    padding: 2px;
    flex-wrap: wrap;
    --cotent-width: 5 113px;
    width: 573px;
    height: 224px;
}

.tile{
    height: 112px;
    width: 112px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    outline: 0;
    position: relative;
}

.tile:hover {
    background-color: rgba(80, 100, 110,1);
    text-decoration: none;
}
.tile:hover .masked-image{
    opacity: 1;
}

.tile-title{
    height: 32px;
    width: 88px;
    margin: 6px 0 0;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    line-height: 16px;
}

.tile-icon{
    height: 48px;
    width: 48px;
    margin-top: 16px;
    background-color: rgba(54, 70, 77, 1.00);
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

span{
    width:100%;
    text-align: center;
    font-weight:400 ;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    white-space: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.masked-icon{
    position: absolute;
    align-items: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    right: 0px;
    top:4px;
    transition: opacity .1s ease-in-out;
}

.masked-image{
    opacity: 0;
    color: white;
    filter: invert();
}

.masked-icon:hover{
    background-color: rgb(85, 105, 115);
    border-radius: 50%;
}

.masked-image:hover{
    opacity: 1;
}

.dialog{
    z-index: 9;
    border:none;
    outline:none;
    left: -105px;
    margin: 0;
    padding: 0;
    top: -2px;
    height: 82px;
    width: 128px;
    border-radius: 5px;
    color: rgba(255, 255, 255,6);
    background-color:rgba(32, 33, 36,1);
    box-sizing: border-box;
}

.masked-icon ul{
    margin: 0;
    padding: 10px 0;  
    height:100%;
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.059);
    box-sizing: border-box;
}

.masked-icon li:hover{
    background-color: rgba(15, 15, 20,2);
    color: aquamarine;
}

.masked-icon li{
    list-style-type: none;
} 

.ul-img{
    position: absolute;
    right: 10px;
    top: 8px;
}

.ul-img:hover{
    filter: invert();
}

.remove{
    padding: 8px 24px;
    width: 100%;
    min-height: 17px;
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    font-size: 12px;
}

.edit{
    padding: 8px 24px 8px 24px;
    width: 100%;
    min-height: 17px;
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    font-size: 12px;
}

.customize-button-container{
    background-color:rgb(54, 70, 77) ;
    border-radius: 16px;
    bottom: 16px;
    position: fixed;
    right: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.customize-button{
    border: none;
    font-weight: 400;
    height: 32px;
    box-shadow: 
       0 3px 6px rgba(0,0,0,.16),
       0 1px 2px rgba(0,0,0,.23);
    color:rgb(36, 193, 224);
    background-color:rgb(54, 70, 77) ;
    padding: 8px 16px;
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.customize-button:hover {
    background-color: rgb(60, 80, 87);
}

.customize-icon{
    height: 16px;
    width: 16px;
    margin: 0 8px 0 0;
    margin-inline-end: 8px;
}

.customize-text{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#dialog{
    top: -15px;
    width: 512px;
    flex-direction: row;
    background-color: rgb(32, 33, 36);;
    height: 245px;
    border: 0;
    border-radius: 8px;
    padding: 0;
    position: relative;
}

#dialog > *{
    background-color: rgba(255, 255, 255, 0.059);
}

form > div > input{
    padding: 6px 8px;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    color: white;
}

form > div{
    height: 65px;
    width: 100%;
}

form{
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.059);
}

.edit-shortcut{
    height: 51px;
    width:100%;
    padding: 20px 20px 16px;
    color: #e8eaed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.cancel,
.done{
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns{
    height: 64px;
    box-sizing: border-box;
    width: 100%;
    padding:16px;
    display: flex;
    justify-content: end;
}

.cancel{
    margin: 0 8px 0 0;
    border: 1px solid;
    color: #8ab4f8;
    background-color: transparent;
}

.cancel:hover{
    background-color:rgba(138, 180, 248,0.1);
}

.done{
    background-color: #8ab4f8;
    color:#202124 ;
    border: none;
}

.done:hover{
    background-color:rgba(138, 180, 248,0.9);
}

div > label{
    color: #9aa0a6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin: 0 0 8px;
    width: 472px;
}